<div class="container">
	<div class="row">
	    <div class="col-sm-4 col-md-2" id="harry">
	        <div class="thumbnail">
	        	<%= image_tag("harry_potter.jpg", class: "img-thumbnail", :style => "width: 150px; height: 170px")%>
	        	<div class="caption">
	            	<h3>Harry Potter</h3>
	            	<p></p>
	        	</div>
	        </div>
	    </div>

	    <div class="col-sm-6 col-md-4">
	        <div class="thumbnail">
	        	<%= image_tag("hermione.jpg", class: "img-thumbnail", :style => "width: 150px; height: 170px")%>
	        	<div class="caption">
	            	<h3>Hermione Granger</h3>
	            	<p></p>
	        	</div>
	        </div>
	    </div>

	    <div class="col-sm-6 col-md-4">
	        <div class="thumbnail">
	        	<%= image_tag("ron.jpg", class: "img-thumbnail", :style => "width: 150px; height: 170px")%>
	        	<div class="caption">
	            	<h3>Ron Weasley</h3>
	            	<p></p>
	        	</div>
	        </div>
	    </div>
	</div>
</div>
